
body, ul{
	margin:0;
	padding:0;
}

.nav {
	background-color: #2c3e50;
	font-family: "Alegreya Sans";
	text-align: center;
}

.nav ul {
	display: inline-block;
	list-style: none;
}

.nav li {
	float:left;
	margin:10px 20px;
	padding: 5px 8px;
	font-size: 19px;
}

.nav li a{
	color: white;
}

.nav li a:hover{
	text-decoration: none;
}

.nav li:hover {
	background-color: #34495e;
	cursor: pointer;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.intro {
	background-image: url('/img/face.jpg');
	background-repeat: no-repeat;
	background-position: 10% center;
	/*background-size: auto 70%;*/
	background-size: 25% auto;
}

.intro-text {
	margin-left: 20%;
	text-align: center;
}

.intro-text h1, .intro-text h2 {
	font-family: "Alegreya Sans";
	font-size: 36px;
	font-weight: bold;
}

.intro-text h2 {
	font-size: 32px;
}

