body, ul{
	margin:0;
	padding:0;
}

.supercontainer {
	background-color: rgb(37,43,50);
	color: white;
	width: 100%;
	height: 150px;
}

.supercontainer img{
	display: block;
	margin-left: 90px;
}

.supercontainer h1{
	margin: 14px 0px;
	padding: 0px;
	font-family: "comicsansms";
	font-size: 40px;
}

.container {
	float: left;
}

.container ul{
	display: inline-block;
	list-style: none;
}

.container li{
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}

.nav {
	font-family: "Helvetica";
	text-align: right;
}

.nav ul{
	display: inline-block;
	list-style: none;
	margin-right: 90px;

}

.nav li{
	float: left;
	margin:50px 20px;
	padding: 7px 8px;
	font-size: 18px;
}

.nav2 {
	display: block;
	width: 100%;
	height: 60px;
	background-color: rgb(57,66,75);
	float: right;
}

.nav2 h1 {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 120px;
	color: rgb(116,127,136);
	text-align: left;
	font-family: "Helvetica";
	font-size: 18px;
	m

}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.bodypart {
	display: block;
	width: 100%;
	height: 1200px;
}

.bodycontainer {
	display: inline-block;
	float: left;
	max-width: 800px;
	margin-left: 90px;
}

.box {
	margin: 25px 10px 0px 10px;
	margin-left: 20px;
	text-align: center;
	width: 350px;
	background-color: #ececec;
	border-radius: 10px;
	float: left;
	font-family: helveticaneue;
	color: #404b55;
	border: 1px #ced5db solid;
}

.box img {
	margin: 15px 0px;
	width: 50%;
}

.box h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: "HelveticaNeue";
	font-size: 32px;
	text-align: center;
}

.box h2 {
	font-family: "HelveticaNeue";
	font-size: 18px;
	text-align: center;

}

.box p {
	padding: 10px 10px;
	text-align: left;
	font-family: helveticaneue;
}

.box button {
	margin-bottom: 20px;
	float: right;
	margin-right: 20px;
}

.sidebar {
	padding-left: 0px;
	float: right;
	max-width: 400px;
	margin-right: 100px;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #ced5db;
	font-family: helveticaneue;
	color: #404b55;
	font-size: 16px;
}

.sidebar h1 {
	border-width: thin;
	border-style: solid;
	border-color: #ced5db;
	border-left: none;
	background-color: #ececec;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: 0px;
	font-family: helveticaneue;
	font-weight: lighter;
	font-size: 24px;
}

.sidebar li {
	margin-left: 20px;
	list-style: disc;
}

.footer {
	display: block;
	background-color: rgb(37,43,50);
	width: 100%;
	height: 300px;
}

.footerwidget {
	display: inline-block;
	float: left;
	max-width: 400px;
	background-color: rgb(37,43,50);
	padding-left: 70px;
	height: 300px;
	color: #e6e6e6;
	font-family: helveticaneue;
	font-weight: lighter;
	font-size: 14px;
}

.footerwidget h1 {
	font-family: helveticaneue;
	color: white;
	font-size: 21px;
	font-weight: normal;
}

.footerwidget p {
	color: #b3b5b7;
	font-size: 14px;
	font-weight: lighter;
}

.cap1 {
	display: block;
	float: left;
	font-size: 18px;
	line-height: 23px;
	color: #b3b5b7;
	font-weight: 600;
}

.cap2 {
	display: block;
	color: #7b8690;
	font-size: 18px;
	line-height: 23px;
	margin-left: 56px;
}

.cap3 {
	color: #7b8690;
}

.footerwidget li {
	line-height: 23px;
	font-size: 14px;
	color: #b3b5b7;
}

.footerwidget h3 {
	margin-top: 10px;
	font-family: helveticaneue;
	color: #b3b5b7;
	font-size: 14px;
	font-weight: normal;
	line-height: 23px;
}

.deepfoot {
	width: 100%;
	height: 50px;
	color: #7b8690;
	font-family: helveticaneue;
	font-size: 14px;
	font-weight: lighter;
	background-color: #37424c;
}

.deepfoot h3 {
	margin: 0 0;
	color: #7b8690;
	font-family: helveticaneue;
	font-size: 16px;
	font-weight: lighter;
	padding: 16px 0px 0px 100px;
}